* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    display: flex;
    justify-content: center;
}
#sketch-contanier {
    display: flex;
    flex-direction: row;
    width: 1520px;
    flex-wrap: wrap;
}
#sketch-contanier  div {
    height: 8px;
    width: 8px;
    border: 1px solid wheat;
}